# Ambientes Python
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Dados grandes - NUNCA commitar
data/
outputs/
models/
*.svs
*.ndpi
*.mrxs
*.tif
*.tiff
*.png
*.jpg
*.jpeg

# Jupyter
.ipynb_checkpoints/
*.ipynb.log

# Outros
.DS_Store
.vscode/
.idea/
