# Whole Slide Images (nunca commitar!)
*.svs
*.ndpi
*.mrxs
*.tif
*.tiff
*.bif
*.scn

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Data e outputs grandes
data/
outputs/
notebooks/.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo
